    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<h2>Crear Usuario</h2>

<form method="POST">
    <input type="text" name="usuario" placeholder="Usuario" required><br><br>
    <input type="password" name="password" placeholder="Contraseña" required><br><br>

    <select name="rol">
        <option value="admin">Admin</option>
        <option value="empleado">Empleado</option>
    </select><br><br>

    <button type="submit">Crear</button>
</form>