<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <title>Historial de Abonos</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
</head>

<body>

<div class="header-title">

    <h2>📜 Historial de Abonos</h2>

    <a href="/cartera" class="btn-back-uniform">
        ⬅ Volver
    </a>

</div>

<br>

<div class="table-card">

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Factura</th>
            <th>Cliente</th>
            <th>Abono</th>
            <th>Fecha</th>
            <th>Observación</th>
        </tr>
    </thead>

    <tbody>

        {% for p in pagos %}
        <tr>

            <td>#{{ p.id }}</td>

            <td>#{{ p.factura_id }}</td>

            <td>{{ p.cliente }}</td>

            <td style="color:green; font-weight:bold;">
                ${{ "{:,.0f}".format(p.abono or 0) }}
            </td>

            <td>{{ p.fecha }}</td>

            <td>
                {{ p.observacion or "-" }}
            </td>

        </tr>
        {% endfor %}

    </tbody>

</table>

</div>

</body>
</html>